body {
    background-color: #f9f7f7;
    font-family: 'Noto Sans JP', sans-serif;
}

h1{
    font-weight: 700;
}

.btn-primary {
    color: white;
    font-weight: 700;
    background-color: #112d4e;
}

#add-password {
    border-radius: 10px;
    font-weight: 700;
    position: absolute;
    top: 30px;
    right: 10px;    
}

.passRow{
    position: relative;
}

.x {
    width: 20px;
    height: auto;
    position: absolute;
    top:20px;
    right: 20px;
}

.ask-master {
    padding-top: 25%;
}

#passList .row {
    background-color: #dbe2ef;
    border-radius: 20px;
    border: #112d4e solid 4px;
}

ul{
    list-style: none;
}

ul h3 {
    font-weight: 600;
}

ul li a, ul li a:visited {
    color: #112d4e !important;
}

ul li a:hover, ul li a:active {
    color: #3f72af !important;
}

ul li.active a {
    color: #dbe2ef !important;
}